*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    background-color: red;
    height: 110px;
}
span{
    width: 30%;
    background-color: green;
    height: 110px;
    float: left;
}
#Image-0{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px dashed blue;
}
#P-0{
    color: gold;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-style: italic;
    line-height: 110px;
}
a{
    text-decoration: none;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
    line-height: 110px;
    text-align: center;
    display: inline-block;
    width: 83px;
    text-align: center;
}
nav{
    width: 100%;
    background-color: black;
    height: 110px;
    text-align: center;
}
li{
    display: inline-block;
}
main{
    width: 70%;
    background-color: brown;
    height: 610px;
    position: relative;
    float: right
}
article{
    width:400px;
    background-color: red;
    border-radius: 10% 20%;
    height: 400px;
    position: absolute;
    left: 25%;
    top: 17%;
}
div{
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: italic;
    line-height: 65px;
    text-align: center;
}
aside{
    width: 30%;
    background-color:white;
    height: 610px;
    position: relative;
}
aside img{
    width: 100%;
    height: 317px;
}
aside h1{
    width: 100%;
    background-color: black;
    height: 30px;
    position: absolute;
    top: 52%;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
    line-height: 30px;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 5px dashed red;
    border-top: 5px dashed red;
}
#Image-2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px dashed red;
    position: absolute;
    top:80%;
    left:15%;
}
#Image-3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px dashed green;
    position: absolute;
    top:65%;
    left:30%;
}
#Image-4{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:5px dashed blue;
    position: absolute;
    top:80%;
    left:45%;
}
#Image-5{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px dashed brown;
    position: absolute;
    top:65%;
    left:60%;
}
#Thead-1{
   background-color: red;
   color: gold;
   font-family: 'Times New Roman', Times, serif;
   font-size: medium;
   font-style: italic;
}
#Input-1{
    width: 158px;
}
#Input-1,#Input-2,#Input-3,#Input-4,#Input-5,#Input-6,#Input-7,#Input-8,#Input-9,#Input-10{
    text-align: end;
    margin-right: 5px;
}
#Tbody-1{
    background-color:green;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
 }
 #Input-2{
    width: 198px;
 }
 #Tbody-2{
    background-color:blue;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
 }
 #Input-3{
    width: 175px;
 }
 #Tbody-3{
    background-color:brown;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
 }
 #Input-4{
    width: 181px;
 }
 #Tfoot-1{
    background-color:black;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
 }
 #Button-1{
    padding: 10px 15px;
 }
 #P-1{
    width: 100%;
    background-color: red;
    height: 50px;
    color: gold;
    text-align: center;
    line-height: 50px;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    font-style: italic;
    border-top: 5px dashed gold;
    border-bottom: 5px dashed gold;
 }
 .Image{
    width: 150px;
    height: 170px;
 }
 #P-2{
    width: 100%;
    background-color: green;
    height: 50px;
    color: gold;
    text-align: center;
    line-height: 50px;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    font-style: italic;
    border-top: 5px dashed gold;
    border-bottom: 5px dashed gold;
 }
 .Td{
    text-align: center;
 }
 #Button-2{
    padding: 10px 15px;
 }
 #Marquee-1{
   width: 100%;
   background-color: red;
   height: 50px;
   line-height: 50px;
   color: gold;
   font-family:'Times New Roman', Times, serif;
   font-size: large;
   font-style: italic;
   border-top:5px dashed gold;
    border-bottom:5px dashed gold;
 }
 #Thead-2{
    background-color: red;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
 }
 #Input-5{
    width: 181px;
 }
 #Tbody-4{
    background-color: green;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
 }
 #Tbody-5{
    background-color:blue;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
 }
 #Input-7{
    width: 194px;
 }
 #Tbody-6{
    background-color:brown;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
 }
 #Input-8{
    width: 212px;
 }
 #Tbody-7{
    background-color:black;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
 }
 #Input-9{
    width: 195px;
 }
 #Tfoot-2{
    background-color:darkorchid;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
 }
 #Input-10{
    width: 195px;
 }
 #Button-3{
    padding: 10px 15px;
 }
 #Marquee-2{
   width: 100%;
   background-color: darkcyan;
   height: 40px;
   text-align: center;
   line-height: 40px;
   color: gold;
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
   font-style: italic;
   border-top: 5px dashed gold;
   border-bottom: 5px dashed gold;
 }
 #Div{
    width: 750px;
    height: 170px;
    border: 5px dashed black;
    display: flex;
    flex-direction:row;
 }
 #P-3,#P-4,#P-5,#P-6,#P-7{
    width: 150px;
    height: 170px;
    line-height: 1.5;
 }
 #P-3{
    background-color: red;
 }
 #P-4{
    background-color:green;
 }
 #P-5{
    background-color: blue;
 }
 #P-6{
    background-color: brown
 }
 #P-7{
    background-color:black;
 }
 #P-8{
   text-align: center;
 }
 #Select-1{
   padding: 15px 0px;
   width: 100%;
   text-align: center;
 }
 #P-9{
   text-align: center;
 }
 #Select-2{
   padding: 15px 0px;
   width: 100%;
   text-align: center;
 }
 @media only screen and (min-width:0px) and (max-width:480px){
    span{
        display: none;
    }
    aside{
        width: 100%;
        float: right;
    }
    main{
        width: 100%;
        position: relative;
    }
    article{
        position: absolute;
        left: 5%;
    }
    #Table-1{
        transform: translate(40%,185%);
    }
    #Button-1{
        transform: translate(145%,590%);
    }
    #Table-2{
        width: 100%;
    }
    .Image{
        width: 88px;
    }
    .Image-1{
        width: 123px;
        height: 170px;
    }
    #Button-2{
        width: 100%;
    }
    #Table-3{
      transform: translate(30%,150%);
    }
    #Button-3{
      transform: translate(135%,570%);
    }
    #Div{
      width: 98%;
      height: 620px;
      display: flex;
      flex-direction: column;
      position: relative;
    }
    #P-3,#P-4,#P-5,#P-6,#P-7{
      width: 100%;
      height: 100px;
      position: absolute;
    }
    #P-3{
      top:20%;
      line-height: 50px;
    }
    #P-4{
      top: 40%;
      line-height: 50px;
    }
    #P-5{
      top:60%;
      line-height: 50px;
    }
    #P-6{
      top:80%;
      line-height: 100px;
    }
    #P-7{
      top:100%;
      line-height: 50px;
    }
    #Table-4{
      width: 100%;
    }
    #Button-4{
      width: 100%;
      padding: 10px 0px;
    }
 }
 @media only screen and (min-width:481px) and (max-width:768px) {
    span{
      width:33%;
      background-color: blue;
      height: 110px;
    }
    #Image-0{
      width: 80px;
      height: 100px;
    }
    #P-0{
      font-size: large;
    }
    aside{
      width: 33%;
      position: relative;
    }
    #Image-2{
      position: absolute;
      left: 15%;
    }
    #Image-3{
      position: absolute;
      left: 30%;
    }
    #Image-4{
      position: absolute;
      left: 45%;
    }
    #Image-5{
      position: absolute;
      left: 60%;
    }
    main{
      width: 67%;
      position: relative;
    }
    article{
      position: absolute;
      left: 14%;
    }
    #Table-1{
      transform: translate(90%,200%);
    }
    #Button-1{
      transform: translate(250%,631%);
    }
    #Table-2{
      width: 100%;
    }
    .Image{
      width: 165px;
    }
    .Image-1{
      width:227px;
      height:170px;
    }
    #Button-2{
      width: 100%;
    }
    #Table-3{
      transform: translate(85%,125%);
    }
    #Button-3{
      transform: translate(270%,476%);
    }
    #Div-1{
      width: 100%;
      height: 170px;
      border: 5px dashed black;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    #P-3,#P-4,#P-5,#P-6,#P-7{
       width: 152px;
    }
    #Table-4{
      width: 100%;
    }
    #Button-4{
      width: 100%;
      padding: 10px 0px;
    }
 }
 @media only screen and (min-width:769px) and (max-width:1279px) {
   span{
      width: 37%;
      background-color: brown;
   }
   aside{
      width: 37%;
   }
   main{
      width: 63%;
   }
   #Table-1{
      transform: translate(200%,180%);
   }
   #Button-1{
      transform: translate(505%,570%);
   }
   #Table-2{
      width: 100%;
   }
   .Image{
      width: 294px;
   }
   .Image-1{
      width: 398px;
      height: 150px;
   }
   #Button-2{
      width: 100%;
   }
   #Table-3{
      transform: translate(180%,130%);
   }
   #Button-3{
      transform: translate(500%,496%);
   }
   #Div-1{
      width: 99%;
      height: 170px;
      border: 5px dashed black;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
   }
   #P-3,#P-4,#P-5,#P-6,#P-7{
      width: 249.5px;
   }
   #Table-4{
    width: 100%;
   }
   #Button-4{
    width: 100%;
    padding: 15px 0px;
   }
 }
 @media only screen and (min-width:1280px){
    span{
       background-color: black;
    }
    nav{
      background-color: blue;
    }
    main{
      position: relative;
    }
    article{
      position: absolute;
      top:15%;
      left: 30%;
    }
    #Table-1{
      transform: translate(245%,180%);
    }
    #Button-1{
      transform: translate(603%,576%);
    }
    #Table-2{
      width: 100%;
    }
    .Image{
      width: 356px;
    }
    .Image-1{
      width: 483px;
      height: 170px;
    }
    #Button-2{
      width: 100%;
    }
    #Table-3{
      transform: translate(230%,125%);
    }
    #Button-3{
      transform: translate(625%,476%);
    }
    #Div-1{
      width: 100%;
      height: 170px;
      border: 5px dashed black;
      display: flex;
      flex-direction:row;
      flex-wrap: wrap;
    }
    #P-3,#P-4,#P-5,#P-6,#P-7{
      width: 303px;
      height: 85px;
    }
    #Table-4{
      width: 100%;
    }
    #Button-4{
      width: 100%;
      padding: 10px 0px;
    }
 }